{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Имя ментора</title>
    <!-- Подключение файла CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles0.css' %}">
    <!-- Подключение шрифта Manrope -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>




<div class="container">
    <h1 style="color: linear-gradient(to bottom right, #FF707F, #FF9C6A, #DB64DC);"> ALUMNI </h1>
    <p style="color: #FFFFFF;">Наши выпускники - это сердце нашего сообщества. Они не только делятся своими  историями успеха, но и готовы поддержать вас на каждом этапе вашего пути.
Наши менторы - опытные профессионалы, готовые стать вашими надежными проводниками в мире карьерного роста. Менторы готовы оказать поддержку и помочь вам достичь ваших целей быстрее и эффективнее.
Наши менти - студенты, ищущие верное направление для своего будущего. Мы поможем не только найти своего наставника, но и обрести вдохновение, опыт и ресурсы для достижения своих целей.
Вместе мы строим сильные связи, раскрываем потенциал и сподвигаем друг друга на большие свершения. Присоединяйтесь к нам сегодня и обретите друзей на всю жизнь.</p>
    <div class="prez">
        <a href="{% url 'reg' %}"><Найти ментора></a>
        <a href="{% url 'reg' %}"><Стать ментором></a>
    </div>
</div>




</body>
</html>